%h1 #{@thing.name}

= concept("rating/cell/form", @form).call

%ul
  - @thing.ratings.each do |rating|
    %li
      = rating.id
      = link_to rating.comment, thing_rating_path(@thing.id, rating.id)
      #{rating.weight}
      - # TODO: the URL helpers are so clumsy, make de-nesting resources easier.
