.header
  = image_tag @thing.image[:thumb].url if @thing.image.exists?

  %h1
    #{@thing.name}
    = link_to "Edit", edit_thing_path(@thing)

  By
  - @thing.authors.each do |author|
    = author.email

= concept("rating/cell/form", @form).call

%ul
  - @thing.ratings.reverse.each do |rating|
    %li
      = concept("rating/cell/row", rating).call
