/ = simple_form_for [Thing::Twin.new, model] do |f|
= simple_form_for model, url: rating_form_path(model.thing.id) do |f| # POST /ratings/
  = f.input :comment, placeholder: "Your comment", label: false
  = f.collection_radio_buttons :weight, [[1, 'Nice!'] ,[0, 'Rubbish!']], :first, :last
  = f.button :submit, class: :expand

  - # DISCUSS: this is as close as possible to the API. we could "simplify" that by allowing thing_id: in UI forms.
  = f.fields_for :thing do |t|
    = t.input :id, as: :hidden

  = f.fields_for :user do |u|
    = u.input :email, placeholder: "Email", label: false



= model.errors.messages