/ = simple_form_for [Thing::Twin.new, model] do |f|
= simple_form_for model, url: rating_form_path(model.thing.id) do |f| # POST /ratings/
  = f.input :comment, placeholder: "Your comment", label: false
  = f.collection_radio_buttons :weight, [[1, 'Nice!'] ,[0, 'Rubbish!']], :first, :last

  - unless signed_in? # this demonstrates that, yes, we may use deciders.
    = f.fields_for :user do |u|
      = u.input :email, placeholder: "Your Email", label: false

  = f.button :submit, class: :expand

= model.errors.messages