/ = simple_form_for [Thing::Twin.new, model] do |f|
= simple_form_for model, url: rating_form_path(model.thing.id) do |f| # POST /ratings/
  = f.input :comment
  = f.button :submit

  - # DISCUSS: this is as close as possible to the API. we could "simplify" that by allowing thing_id: in UI forms.
  = f.fields_for :thing do |t|
    = t.input :id


=# @form.errors.messages