!!!
%html
  %head
    %title gemgem - Feedback for a better world.
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag
  %body
    .row

      .small-4.column
        = yield
      .small-2.column
        = link_to "New Thing", new_thing_path
