!!!
%html
  %head
    %title gemgem - Feedback for a better world.
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag
  %body
    .row

      .small-4.column
        = yield
      .small-3.column
        - if signed_in?
          Hi, #{current_user.email}

        = render 'layouts/messages'

        %ul
          %li
            = link_to "New Thing", new_thing_path
          %li
            = link_to "Things...", things_path
